USE [master]
GO
/****** Object:  Database [ApiSrezDB]    Script Date: 11.05.2022 12:32:52 ******/
CREATE DATABASE [ApiSrezDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ApiSrezDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ApiSrezDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ApiSrezDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ApiSrezDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ApiSrezDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ApiSrezDB]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 11.05.2022 12:32:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Image] [nvarchar](50) NULL,
	[SecondName] [nvarchar](50) NULL,
	[Name] [nvarchar](50) NULL,
	[Patronymic] [nvarchar](50) NULL,
	[Emaill] [nvarchar](50) NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([UserID], [Login], [Password], [Image], [SecondName], [Name], [Patronymic], [Emaill]) VALUES (1, N'supermark@mail.ru', N'net', N'/Resource/man.png', N'Чернигин', N'Марк', N'Олегович', N'supermark@mail.ru')
INSERT [dbo].[Account] ([UserID], [Login], [Password], [Image], [SecondName], [Name], [Patronymic], [Emaill]) VALUES (2, N'superilya@yandex.ru', N'da', N'/Resource/man.png', N'Шадрин', N'Илья', N'Олегович', N'superilya@yandex.ru')
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
USE [master]
GO
